@import "foundation/variable";
@import "foundation/mixin";
@import "foundation/presets";
@import "foundation/btn_elements";
@import "foundation/mixin";

/*------------------------------------------
------------------------------------------*/
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1226px;
  }
}

.lnhr_new_header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 40px 0 0 0;
  z-index: 50;
}

/*------------------------------------------
------------------------------------------*/
@import "layouts/toolbar";
/*------------------------------------------
------------------------------------------*/
@import "layouts/home_banner";
/*------------------------------------------
    Navigation
------------------------------------------*/
@import "layouts/main_navigation";
/*------------------------------------------
------------------------------------------*/
@import "layouts/footer";
/*------------------------------------------
------------------------------------------*/
.lnhr_new_section_title {
  @include lnhr_section_title(one);
}



/*------------------------------------------
    // Patient Storeis
------------------------------------------*/
@import "layouts/patient_stories";
/*------------------------------------------
------------------------------------------*/
@import "layouts/testimonial";
/*------------------------------------------
------------------------------------------*/
@import "layouts/procedure_products";
/*------------------------------------------
------------------------------------------*/
/*------------------------------------------
------------------------------------------*/
