.lnhr_new_banner__slider {
  position: relative;
  width: 100%;
  z-index: 0;
  .container{
      position: relative;
  }
  .swiper-wrapper {
    .swiper-slide {
      background-position: 57% 15%;
      @include respond-to(lg) {
        background-position: 0% 40%;
      }
      .banenr_images{
          visibility: hidden;
          opacity: 0;
          position: absolute; 
          right: -21%;
          top: 9%;
          z-index: -1;
          
          @include media-breakpoint-down(lg){
              max-width: 100%;
          }
          @include media-breakpoint-down(sm){
            max-width: 130%;
            top: 10%;
            z-index: -1;
          }
          img{
            @include media-breakpoint-down(lg){
                max-width: 100%;
            }
          }
      }
      &-active{
        .banenr_images{
              visibility: visible;
              opacity: 1;

        }
      }

      .lnhr_new_banner__content {
        height: 100vh;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-end;
        @include media-breakpoint-down(sm){
            padding-bottom: 20%;
            height: 100vh;
            max-width: 95%;
        }
        @include respond-to(sm) {
          height: 600px;
          background-position: initial;
          justify-content: center;
          padding-top: 51%;
          padding-bottom: 0;
        }
        @include media-breakpoint-up(lg){
            padding-top: 45%;
            height: 800px;
        }
        
        @include media-breakpoint-down(md) {
            @include orientation(landscape) {
                
            } 
        }
        
        @include respond-to(md) {
          background-position: initial;
          justify-content: center;
          padding-top: 30%;
          padding-bottom: 0;
        }
        @include respond-to(lg) {
          height: 1020px;
          background-position: initial;
          justify-content: center;
          padding-top: 0%;
          padding-bottom: 0;
        }
        @include media-breakpoint-between(sm,md){
          // @include orientation(portrait){
          //   padding-top: 45%;
          //   min-height: 75vh;
          //   height: 75vh;
          // }
      }
        @include media-breakpoint-between(md,lg){
            @include orientation(portrait){
              padding-top: 70%;
              min-height: 75vh;
              height: 75vh;
            }
        }
        @include respond-to(xl) {
          height: 1020px;
          }
        @include respond-to(xxl) {
          height: 1020px;
          background-position: initial;
          justify-content: center;
          padding-top: 0%;
          padding-bottom: 0;
        }
        @include media-breakpoint-between(md,xl){
          @include orientation(landscape){
            justify-content: center;
            padding-bottom: 0%;
          }
      }
        
        
      }
      &.swiper-slide-active {
        // h2 {
        //   animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
        //   animation-duration: 2s; /* don't forget to set a duration! */
        // }
        // p {
        //   animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
        //   animation-duration: 2s; /* don't forget to set a duration! */
        // }
        // button {
        //   animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
        //   animation-duration: 2s; /* don't forget to set a duration! */
        // }
      }
    }
  }
  .swiper-pagination {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    left: calc(50% - 8px) !important;

    transform: translateX(-50%);
    z-index: 99;
    top: 97%;
    
    @include respond-to(md){
      top: 85%;
    }
    @include respond-to(xxl) {
      top: 83%;
    }
    .swiper-pagination-bullet {
      width: 24px;
      height: 7px;
      background: rgba(255, 255, 255, 0.19);
      border-radius: 0px;
      transition: all 0.3s linear;
      cursor: pointer;
      visibility: hidden;
      &::before {
        content: "";
        width: 24px;
        height: 7px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 0px;
        transition: all 0.3s linear;
        cursor: pointer;
        visibility: visible;
        opacity: 1;
        position: absolute;
      }
      &.swiper-pagination-bullet-active {
        &::before {
          background: $primary_clr;
        }
      }
      &:hover {
        &::before {
          background: $primary_clr;
        }
      }
    }
  }
}

.lnhr_new_banner__content {

    
  @include respond-to(md) {
    padding-top: 0px;
  }
  @include respond-to(xl) {
    padding-top: 0px;
  }
  
    
  h2 {
    font-family: $tt_regular;

    color: #d7cc8f;
    background: -webkit-linear-gradient(80deg, #ac9660 20%, #faf8b4 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.5em;
    letter-spacing: -0.175rem;
    font-weight: 600;
    font-family: $tt_regular;

    font-size: 40px;
   
    @include media-breakpoint-down(md) {
        @include orientation(landscape) {
            font-size: 18px;
        } 
    }
    @include respond-to(sm) {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 20px;
    }
    // @include respond-to(lg) {
    //   font-size: 40px;
    //   line-height: 50px;
    //   margin-bottom: 20px;
    // }
    @include respond-to(xl) {
      font-size: 70px;
      line-height: 90px;
      margin-bottom: 30px;
    }
  }
  p {
    line-height: 24px;
    color: $ce5e5;

    font-weight: 400;
    font-family: $tt_regular;
    font-size: 16px;
    @include respond-to(md) {
      margin-bottom: 20px;
      line-height: 28px;
    }
    @include respond-to(lg) {
      font-size: 14px;
      margin-bottom: 30px;
      line-height: 28px;
    }
    @include respond-to(xl) {
      font-size: 18px;
      margin-bottom: 60px;
      line-height: 28px;
    }
  }
  .lnhr_new_banner__button {
    @include lnhr_btn(12px, 15px, 15px);
    @include media-breakpoint-down(md) {
      margin-top: 30px;
        @include orientation(landscape) {
            @include lnhr_btn(12px, 12px, 12px);
        } 
    }
    @include respond-to(md) {
      @include lnhr_btn(14px, 20px, 20px);
    }
    @include respond-to(xl) {
      @include lnhr_btn(14px, 25px, 28px);
    }

    border: none;
    font-weight: 500;
    letter-spacing: 1px;
    @extend %a_rules;
  }
}

.lnhr_new_banner {
  // background: url("../images/lnhr_banner_image.png") no-repeat;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;

    background: url("../images/curve-left-1.png");

    z-index: 9;
    background-size: contain;
    background-repeat: no-repeat;
    width: 93px;
    height: 180px;
    top: 100px;
    opacity: 0.5;
    @include respond-to(lg) {
      opacity: 1;
      width: 106px;
      height: 350px;
    }
    @include respond-to(xxl) {
      opacity: 1;
      top: 0;
      width: 106px;
      height: 600px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    background: url("../images/curve-right-1.png");
    z-index: 9;
    background-position: 100% 0;
    background-size: contain;
    background-repeat: no-repeat;
    top: 100px;
    width: 93px;
    height: 150px;
    @include respond-to(lg) {
      width: 106px;
      height: 250px;
    }
    @include respond-to(xxl) {
      top: 0;
      width: 160px;
      height: 701px;
    }
  }
}
