.lnhr_new_banner__slider {
  position: relative;
  width: 100%;
  z-index: 0;
  .swiper-wrapper {
    .swiper-slide {
      background-position: 57% 15%;
      @include respond-to(lg) {
        background-position: 0% 40%;
      }

      .lnhr_new_banner__content {
        min-height: 100vh;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding-bottom: 25%;
        height: 100vh;
        @include respond-to(sm) {
          padding-top: 80%;
          justify-content: flex-start;
          padding-bottom: 0;
        }
        @include media-breakpoint-down(md){
            padding-top: 45%;
        }
        
        @include media-breakpoint-down(md) {
            @include orientation(landscape) {
                padding-top: 10%;
                justify-content: center;
            } 
        }
        
        @include respond-to(md) {
          height: 100vh;
          justify-content: flex-start;
          padding-bottom: 51%;
          padding-top: 100%;
        }
        @include respond-to(lg) {
          height: 100vh;
          padding-top: 70%;
        }
        @include respond-to(xl) {
            min-height: 1472px;
          }
        @include respond-to(xxl) {
          min-height: 1651px;
          background-position: initial;
          justify-content: flex-start;
          padding-top: 56%;
        }
        @include media-breakpoint-between(md,xl){
          @include orientation(landscape){
            justify-content: center;
            padding-bottom: 82%;
          }
      }
        
        
      }
      &.swiper-slide-active {
        // h2 {
        //   animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
        //   animation-duration: 2s; /* don't forget to set a duration! */
        // }
        // p {
        //   animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
        //   animation-duration: 2s; /* don't forget to set a duration! */
        // }
        // button {
        //   animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
        //   animation-duration: 2s; /* don't forget to set a duration! */
        // }
      }
    }
  }
  .swiper-pagination {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    left: calc(50% - 8px);

    transform: translateX(-50%);
    z-index: 99;
    top: calc(100vh - 35px);
    
    @include respond-to(lg){
        top: calc(100vh - 100px);
    }
    @include respond-to(xl){
      top: calc(100vh + 170px);
  }
    @include respond-to(xxl) {
        top: calc(100vh - 30px);
    }
    .swiper-pagination-bullet {
      width: 24px;
      height: 7px;
      background: rgba(255, 255, 255, 0.19);
      border-radius: 0px;
      transition: all 0.3s linear;
      cursor: pointer;
      visibility: hidden;
      &::before {
        content: "";
        width: 24px;
        height: 7px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 0px;
        transition: all 0.3s linear;
        cursor: pointer;
        visibility: visible;
        opacity: 1;
        position: absolute;
      }
      &.swiper-pagination-bullet-active {
        &::before {
          background: $primary_clr;
        }
      }
      &:hover {
        &::before {
          background: $primary_clr;
        }
      }
    }
  }
}

.lnhr_new_banner__content {

    
  @include respond-to(md) {
    padding-top: 0px;
  }
  @include respond-to(xl) {
    padding-top: 0px;
  }
  
    
  h2 {
    font-family: $tt_regular;

    color: #d7cc8f;
    background: -webkit-linear-gradient(80deg, #ac9660 20%, #faf8b4 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.5em;
    letter-spacing: -0.175rem;
    font-weight: 600;
    font-family: $tt_regular;

    font-size: 40px;
   
    @include media-breakpoint-down(md) {
        @include orientation(landscape) {
            font-size: 18px;
        } 
    }
    @include respond-to(md) {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 20px;
    }
    // @include respond-to(lg) {
    //   font-size: 40px;
    //   line-height: 50px;
    //   margin-bottom: 20px;
    // }
    @include respond-to(xl) {
      font-size: 70px;
      line-height: 90px;
      margin-bottom: 50px;
    }
  }
  p {
    line-height: 24px;
    color: $ce5e5;

    font-weight: 400;
    font-family: $tt_regular;
    font-size: 16px;
    @include respond-to(md) {
      margin-bottom: 20px;
      line-height: 28px;
    }
    @include respond-to(lg) {
      font-size: 14px;
      margin-bottom: 30px;
      line-height: 28px;
    }
    @include respond-to(xl) {
      font-size: 18px;
      margin-bottom: 60px;
      line-height: 28px;
    }
  }
  .lnhr_new_banner__button {
    @include lnhr_btn(12px, 15px, 15px);
    @include media-breakpoint-down(md) {
      margin-top: 30px;
        @include orientation(landscape) {
            @include lnhr_btn(12px, 12px, 12px);
        } 
    }
    @include respond-to(md) {
      @include lnhr_btn(14px, 20px, 20px);
    }
    @include respond-to(xl) {
      @include lnhr_btn(14px, 25px, 28px);
    }

    border: none;
    font-weight: 500;
    letter-spacing: 1px;
    @extend %a_rules;
  }
}

.lnhr_new_banner {
  // background: url("../images/lnhr_banner_image.png") no-repeat;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;

    background: url("../images/curve-left-1.png");

    z-index: 9;
    background-size: contain;
    background-repeat: no-repeat;
    width: 93px;
    height: 300px;
    top: 100px;
    opacity: 0.5;
    @include respond-to(lg) {
      opacity: 1;
      width: 106px;
      height: 350px;
    }
    @include respond-to(xxl) {
      opacity: 1;
      top: 0;
      width: 106px;
      height: 600px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    background: url("../images/curve-right-1.png");
    z-index: 9;
    background-position: 100% 0;
    background-size: contain;
    background-repeat: no-repeat;
    top: 100px;
    width: 93px;
    height: 150px;
    @include respond-to(lg) {
      width: 106px;
      height: 250px;
    }
    @include respond-to(xxl) {
      top: 0;
      width: 160px;
      height: 701px;
    }
  }
}
