.lnhr_new_procedure_products {
    background: #191919;
    transform: translateY(0%);
    margin-bottom: 0px;
    padding: 50px 0 30px 0px;
    @include respond-to(md){
        transform: translateY(0%);
        margin-bottom: 0px;
        padding: 50px 0 30px 0px;
    }
    @include respond-to(xl){
        padding: 0px;
    }
    @include respond-to(xl){
        transform: translateY(-92%);
        margin-bottom: -523px;
        background: transparent;
    }
    .lnhr_new_section_title{
        @include lnhr_section_title(one);
        
        @include media-breakpoint-down(sm) { 
            font-size: 16px;
        }
        padding-bottom: 20px;
    }
}

.procudure_container{
    display: grid;
   
    @include media-breakpoint-down(md) { 
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto;
        grid-gap: 10px 10px;
    }
    @include respond-to(md){
        grid-template-columns: auto auto 26.40% 18%;
        grid-template-rows: auto auto auto;
        grid-gap: 15px 15px;
    }
    .procedure_item{
        position: relative;
        // padding: 7px;
        @include media-breakpoint-down(md){
            height: 171px;
        }
        @include media-breakpoint-up(md){
            height: 280px;
        }
        
        @include respond-to(md){
            max-width: initial;
            flex: auto;
            padding: 0;
            height: inherit;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100%);
            @include transition(.30s);
        }
        .procedure_item__inner{
            height: 100%;
            position: relative;
            border-image-source: linear-gradient(
            to left,
            #ac9660,
            #faf8b4
            ) !important;
            border: 8px solid;
            border-image-slice: 1;
            border-width: 8px;
            &::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 0;
            @include transition(0.3s);
            }
            .procedure_item_content{
                position: absolute;
                bottom: 0px;
                left: 0px;
                height: 100%;
                width: 100%;
                a {
                height: 100%;
                width: 100%;

                font-weight: 700;
                font-family: $tt_bold;
                color: $white;
                position: absolute;
                z-index: 9;
                @extend %a_rules;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                @include lnhr_flex(flex, "", flex-end, flex-start);
                padding-left: 10px;
                padding-bottom: 10px;
                @include media-breakpoint-down(sm){}
                @include media-breakpoint-down(md){
                    font-size: 16px;
                }
                @include respond-to(md) {
                    font-size: 14px;
                    padding-left: 20px;
                    padding-bottom: 20px;
                }
                @include respond-to(xxl) {
                    font-size: 26px;
                    padding-left: 30px;
                    padding-bottom: 30px;
                }
                }
            }
        }
        
        &:nth-child(5){
            @include media-breakpoint-up(md){
                grid-column: 3/4;
                grid-row: 1/3;
            }
            @include media-breakpoint-down(md){
                grid-column: 1/3;
            }
        }
        &:nth-child(6){
            @include media-breakpoint-up(md){
                grid-column: 4/4;
                grid-row: 1/3;
            }
            @include media-breakpoint-down(md){
                grid-column: 1/3;
            }
        }
        &:hover{
            .procedure_item__inner{
                img{
                    filter: grayscale(0%)
                }
            }
        }
    }
}

