/* BUTTON STYLE */
.lnhr-button {
    font-family: 'tt_norms_regular', sans-serif !important;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.498168px;
    line-height: 18px;
    color: #424242;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    display: inline-block;
    margin: 0;
    opacity: 1;
    padding: 1.7em 1.78em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 0.15s linear;
    min-width: 230px;
    border: 2px solid #424242;
    font-family: inherit;
    border-radius: 5px;
    box-shadow: none;
    overflow-wrap: break-word;
    box-sizing: border-box;
    background-image: -moz-linear-gradient( -180deg, rgb(255,255,255) 0%, rgb(229,229,229) 17%, rgb(202,202,202) 50%, rgb(212,212,212) 86%, rgb(221,221,221) 100%);
    background-image: -webkit-linear-gradient( -180deg, rgb(255,255,255) 0%, rgb(229,229,229) 17%, rgb(202,202,202) 50%, rgb(212,212,212) 86%, rgb(221,221,221) 100%);
    background-image: -ms-linear-gradient( -180deg, rgb(255,255,255) 0%, rgb(229,229,229) 17%, rgb(202,202,202) 50%, rgb(212,212,212) 86%, rgb(221,221,221) 100%);
    margin-top: 32px;
}
.lnhr-button:hover {
    text-decoration: none;
    background: #ffffff;
    color: #4b5563;
    border-color: #000000;
    outline: 0;
}


/* ABOUT SECTION STYLE*/
.lnhr-about-section-wrapper {
    position: relative;
    background-color: #000000;
    padding: 65px 0 0;
    background-image: url(../images/about_new_carve.png);
    background-repeat: no-repeat;
    background-position: bottom 50px left;
    background-size: 120px auto;
    z-index: 1;
}
.lnhr-about-section-wrapper .container {
    max-width: 1250px;
    width: 100%;
    padding: 0 32px;
}
.lnhr-about-section-content-area {
    width: calc(50% - 16px);
    box-sizing: border-box;
}
.lnhr-about-section-content h4 {
    font-family: "tt_norms_regular", sans-serif;
    font-weight: 500;
    font-size: 54px;
    line-height: 68px;
    color: #d7cc8f;
    background: -webkit-linear-gradient(80deg, #ac9660 20%,#faf8b4 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 28px;
    letter-spacing: -0.175rem;
}
.lnhr-about-content-text {
    max-width: 530px;
}
.lnhr-about-content-text p {
    font-family: 'tt_norms_regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #8c8c8c;
    margin: 0;
}
.lnhr-about-content-logo {
    position: relative;
    margin-top: 160px;
    margin-bottom: 65px;
}
.lnhr-about-content-logo img {
    max-width: 100%;
}
.lnhr-about-content-logo p {
    font-family: 'tt_norms_regular', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    color: #a38d59;
    text-align: center;
    margin-top: 8px;
}
.lnhr-about-thumbnail-section {
    position: absolute;
    top: 145px;
    right: 0;
    width: calc(50% - 16px);
    height: calc(100% - 145px);
    background-image: url(../images/dr-ross-3.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: -1;
}
.lnhr-about-thumbnail-section::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    height: 100%;
    width: 80px;
    background-image: url(../images/vertical-skew.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    z-index: 1;
}
.lnhr-about-thumbnail-section img {
    width: 100%;
    height: auto;
    display: none;
}
.lnhr-about-section-wrapper .bottom-skew {
    position: relative;
    bottom: -1px;
    width: 100%;
}

@media screen and (min-width: 1800px) {
    .lnhr-about-section-content-area {
        min-height: 920px;
    }
    .lnhr-about-thumbnail-section {
        height: calc(100% - 200px);
    }
}
@media screen and (max-width: 1399px) {
    .lnhr-about-section-wrapper {
        background-size: 60px auto;
    }
}
@media screen and (max-width: 1279px) {
    .lnhr-about-section-content h4 {
        font-size: 48px;
        line-height: 60px;
    }
}
@media screen and (max-width: 999px) {
    .lnhr-about-section-content h4 {
        font-size: 40px;
    }
    .lnhr-about-content-text p {
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (max-width: 767px) {
    .lnhr-about-section-wrapper .container {
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
    }
    .lnhr-about-section-content h4 {
        font-size: 28px;
        line-height: 36px;
    }
    .lnhr-about-thumbnail-section {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        position: relative;
        top: initial;
        right: initial;
        height: auto;
    }
    .lnhr-about-thumbnail-section::after {
        display: none;
    }
    .lnhr-about-thumbnail-section img {
        display: block;
    }
}
@media screen and (max-width: 599px) {
    .lnhr-about-section-content-area {
        width: 100%;
        order: 2;
        margin-top: 96px;
    }
    .lnhr-about-content-logo {
        margin: 160px auto 16px;
    }
    .lnhr-about-thumbnail-section {
        width: 100%;
        order: 1;
    }
}

/* LOCATION SECTION STYLE */
.lnhr-location-section-wrapper {
    position: relative;
    padding: 140px 16px 168px;
    background-image: url(../img/bg-world-map.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.lnhr-location-section-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 160px;
    height: 490px;
    background-image: url(../img/curve-right-3.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% auto;
}
.lnhr-location-section-wrapper .container {
    max-width: 1250px;
    width: 100%;
    padding: 0 32px;
}
.lnhr-location-section-wrapper .top-skew {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
}
.lnhr-location-content {
    padding-top: 80px;
}
.lnhr-section-title {
    font-family: "tt_norms_regular", sans-serif;
    font-weight: 500;
    font-size: 76px;
    line-height: 96px;
    letter-spacing: -2.8px;
    color: #d7cc8f;
    text-align: center;
    margin-bottom: 75px;
}
.lnhr_new_locations .lnhr-location-content .lnhr_new_locations__box {
    margin-bottom: 32px;
}
.lnhr_new_locations .lnhr_new_locations__box_icon {
    display: block;
    width: 20px;
    margin-right: 10px;
}
.lnhr_new_locations__box__content {
    width: calc(100% - 25px);
}
.lnhr_new_locations__title {
    margin: 0;
}
.lnhr_new_locations .lnhr-location-content .lnhr_new_locations__box__content .lnhr_new_locations__title a {
    font-family: 'tt_norms_bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    display: inline-block;
    opacity: 1;
    margin: 0;
}
.lnhr_new_locations .lnhr-location-content .lnhr_new_locations__box__content p {
    font-family: "tt_norms_regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8c8c8c;
    opacity: 1;
    margin: 0;
}
.lnhr_new_locations .lnhr-location-content .lnhr_new_locations__box_icon img {
    width: 20px;
    height: auto;
    max-width: initial;
}
.lnhr-location-content .lnhr-button {
    min-width: 300px;
    letter-spacing: 0.5px;
    margin-bottom: 32px;
}
.lnhr-location-section-wrapper .bottom-skew {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 1700px) {
    .lnhr-location-content {
        padding-top: 150px;
        padding-bottom: 120px;
    }
}
@media screen and (max-width: 1439px) {
    .lnhr-location-section-wrapper::after {
        width: 60px;
        height: 200px;
    }
}
@media screen and (max-width: 1279px) {
    .lnhr-location-section-wrapper {
        padding: 50px 16px 92px;
    }
    .lnhr-section-title {
        font-size: 35px;
        line-height: 44px;
    }
}
@media screen and (max-width: 1199px) {
    .lnhr-location-section-wrapper .lnhr-location-content .col-md-3 {
        width: 33.333%;
    }
}
@media screen and (max-width: 999px) {
    .lnhr-location-section-wrapper .lnhr-location-content .col-md-3 {
        width: 50%;
    }
    .lnhr-location-content .lnhr-button {
        min-width: 230px;
    }
}
@media screen and (max-width: 767px) {
    .lnhr-location-section-wrapper {
        padding: 50px 16px 76px;
    }
    .lnhr-location-content {
        padding-top: 30px;
    }
}
@media screen and (max-width: 599px) {
    .lnhr-location-section-wrapper {
        padding: 50px 16px 50px;
    }
    .lnhr-location-section-wrapper .lnhr-location-content .col-md-3 {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .lnhr-location-section-wrapper {
        padding: 50px 16px 30px;
    }
}


/* TESTIMONIAL STYLE */
.lnhr_new_testimonial__2 {
    padding: 60px 0;
    background: #ffffff;
    z-index: 1;
}
.lnhr-location-content .col {
    padding: 0;
}
.lnhr_new_testimonial__2::after {
    content: "";
    position: absolute;
    bottom: calc(100% - 138px);
    right: 0;
    width: 112px;
    height: 275px;
    background-image: url(../img/curve-right-2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% auto;
    z-index: -1;
}
.lnhr_new_testimonial__slider_two .swiper-wrapper {
    max-width: calc(100% - 25%);
    padding-top: 80px;
}
.lnhr-testimonial-message {
    max-width: 875px;
    margin: 0 auto;
}
.lnhr_new_testimonial .lnhr_new_testimonial__slider .swiper-slide .lnhr-testimonial-message p {
    font-family: "tt_norms_regular", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin-bottom: 16px;
    line-height: 28px;
    margin-top: 30px;
}
.lnhr_new_testimonial .lnhr_new_testimonial__slider .swiper-slide h6 {
    font-family: "tt_norms_regular", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0;
    color: #000000;
}
.swiper-slide-prev, .swiper-slide-next {
    opacity: 0.2;
}
.lnhr_new_testimonial__2 .lnhr_new_testimonial__slider .swiper-pagination {
    margin-top: 45px;
    position: relative;
}
.lnhr_new_testimonial__2 .lnhr_new_testimonial__slider .swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: #dadada;
    opacity: 0.25;
    border: none;
    outline: none;
    border-radius: 4px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.lnhr_new_testimonial__2 .lnhr_new_testimonial__slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #CDBF83;
    opacity: 1;
}
.lnhr_new_testimonial__2 .lnhr_new_testimonial__slider .swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover,
.lnhr_new_testimonial__2 .lnhr_new_testimonial__slider .swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):focus {
    opacity: 0.75;
}
.lnhr_new_testimonial__2 .lnhr_new_testimonial__slider .swiper-pagination .swiper-pagination-bullet::before {
    content: '';
    line-height: 20px;
    position: absolute;
    top: 8px;
    width: 5px;
    height: 5px;
    text-align: center;
    background: #000;
    margin-left: -2px;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.lnhr_new_testimonial__2 .lnhr_new_testimonial_star {
    position: relative;
    opacity: 0;
}
.lnhr_new_testimonial__2 .swiper-slide-active .lnhr_new_testimonial_star {
    opacity: 1;
}
.lnhr_new_testimonial__2 .lnhr_new_testimonial_star::after {
    content: "";
    position: absolute;
    top: -80px;
    left: 0;
    width: 185px;
    height: 150px;
    background-image: url(../images/qoute.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% auto;
}
.lnhr_new_testimonial__2.lnhr_new_testimonial .lnhr_new_testimonial__slider .swiper-slide .lnhr_new_testimonial_star img {
    width: auto;
    max-width: 100%;
}
@media screen and (min-width: 1700px) {
    .lnhr_new_testimonial__2 .lnhr_new_testimonial_star {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1439px) {
    .lnhr_new_testimonial__2::after {
        width: 60px;
        height: 200px;
    }
    .lnhr_new_testimonial__slider_two .swiper-wrapper {
        max-width: calc(100% - 15%);
    }
}

@media screen and (max-width: 999px) {
    .lnhr_new_testimonial__2 .lnhr_new_testimonial_star::after {
        top: -10px;
        width: 60px;
        height: 56px;
    }
    .lnhr-section-title {
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 767px) {
    .lnhr_new_testimonial__2::after {
        bottom: calc(100% - 65px);
    }
    .lnhr_new_testimonial__2 {
        padding: 60px 0 20px;
    }
    .lnhr_new_testimonial__slider_two .swiper-wrapper .swiper-slide {
        padding: 0 20px;
    }
    .lnhr_new_testimonial .lnhr_new_testimonial__slider .swiper-slide .lnhr_new_testimonial_star img {
        height: 35px;
        width: auto;
    }
    .lnhr_new_testimonial .lnhr_new_testimonial__slider .swiper-slide .lnhr-testimonial-message p {
        font-size: 16px;
        line-height: 22px;
    }
}
@media screen and (max-width: 575px) {
    .lnhr_new_testimonial__slider_two .swiper-wrapper {
        max-width: 100%;
    }
    .lnhr_new_testimonial__slider_two .swiper-wrapper .swiper-slide {
        padding: 0 48px;
    }
    .lnhr_new_testimonial .lnhr_new_testimonial__slider .swiper-slide .lnhr_new_testimonial_star img {
        height: 28px;
    }
    .lnhr_new_testimonial__2::after {
        bottom: calc(100% - 100px);
    }
}